<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <title>Advert</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap');
    </style>
</head>
<body>
    <header>
        <i>
            <a href="#">
                <svg width="50" height="50" viewBox="0 0 69 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_i_0_1)">
                <ellipse cx="34.6167" cy="34" rx="34.0944" ry="34" fill="#4E99D2"/>
                </g>
                <g filter="url(#filter1_d_0_1)">
                <path d="M39.1653 9C41.6468 9 43.893 9.53333 45.9039 10.6C47.9148 11.6667 49.4979 13.1813 50.6531 15.144C51.8083 17.1493 52.3859 19.432 52.3859 21.992V24.04H44.9413L44.9413 21.864C44.9413 19.944 44.4279 18.3653 43.401 17.128C42.3314 15.9333 40.9409 15.336 39.2295 15.336C37.8603 15.336 36.7693 15.6773 35.9564 16.36C35.1435 17.0853 34.737 18.0667 34.737 19.304C34.737 20.7547 35.2076 22.248 36.1489 23.784L56.1082 54.76L47.1233 54.76L32.1699 29.928C31.8276 29.3733 31.5067 28.7547 31.2072 28.072C30.9077 27.3893 30.6724 26.6427 30.5013 25.832V54.76L13.5583 54.76L25.2387 21.032C26.6078 17.064 28.4476 14.056 30.758 12.008C33.0256 10.0027 35.828 9 39.1653 9Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_i_0_1" x="0.522217" y="0" width="72.1889" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="5" dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_0_1"/>
                </filter>
                <filter id="filter1_d_0_1" x="11.5583" y="9" width="44.5499" height="45.7598" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="-2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                </defs>
                </svg>
            </a>
        </i>
        <nav>
            <ul>
                <li><a href="reg.html" class = "men" style="font-family: 'Handjet', cursive; font-size: 20px; height: 13px;">Sign in</a></li>
            </ul>
        </nav>
    </header>

    <div class="priv">
        <svg width="240" height="160" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.35 6.04C19.0141 4.33772 18.0976 2.80486 16.7571 1.70325C15.4165 0.601633 13.7351 -0.000392242 12 1.91737e-07C9.11 1.91737e-07 6.6 1.64 5.35 4.04C3.88023 4.19883 2.52101 4.89521 1.53349 5.99532C0.545971 7.09543 -0.000171702 8.52168 4.04928e-08 10C4.04928e-08 13.31 2.69 16 6 16H19C21.76 16 24 13.76 24 11C24 8.36 21.95 6.22 19.35 6.04ZM19 14H6C3.79 14 2 12.21 2 10C2 7.95 3.53 6.24 5.56 6.03L6.63 5.92L7.13 4.97C7.58988 4.07478 8.28787 3.32382 9.14712 2.79979C10.0064 2.27577 10.9936 1.99902 12 2C14.62 2 16.88 3.86 17.39 6.43L17.69 7.93L19.22 8.04C19.9717 8.09056 20.6764 8.42399 21.1922 8.97319C21.708 9.52238 21.9966 10.2466 22 11C22 12.65 20.65 14 19 14ZM10 10.18L7.91 8.09L6.5 9.5L10 13L16.01 6.99L14.6 5.58L10 10.18Z" fill="#0135D0"/>
        </svg>     
    </div>
    <div class="privtxt">Сервис для поиска рабочей силы!</div>
    <div class="onas">
        <div class="onas1"><p>У сервісі реєструються розробники і рекрутери</p></div>
        <div class="onas2"><p>Замовник публікує задачу і збирає під неї команду</p></div>
        <div class="onas3"><p> Розробники також можуть подавати заявки на участь у відкритих проєктах</p></div>
    </div>
    <div class="div_for_btn">
        <div   class="btn_for_reg">
            <a href="reg.html">Розпочати</a>
        </div>
    </div>
</body>
</html>