@{
    string valueFromHomeController = ViewBag.StaticValue;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/main_page.css">
    <link href = "https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap" rel = "stylesheet">

</head>
<body>
    <header>
        <div class="icon_other">
        <i>
                <a href="#">
                <svg width="50" height="50" viewBox="0 0 69 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_i_0_1)">
                <ellipse cx="34.6167" cy="34" rx="34.0944" ry="34" fill="#4E99D2"/>
                </g>
                <g filter="url(#filter1_d_0_1)">
                <path d="M39.1653 9C41.6468 9 43.893 9.53333 45.9039 10.6C47.9148 11.6667 49.4979 13.1813 50.6531 15.144C51.8083 17.1493 52.3859 19.432 52.3859 21.992V24.04H44.9413L44.9413 21.864C44.9413 19.944 44.4279 18.3653 43.401 17.128C42.3314 15.9333 40.9409 15.336 39.2295 15.336C37.8603 15.336 36.7693 15.6773 35.9564 16.36C35.1435 17.0853 34.737 18.0667 34.737 19.304C34.737 20.7547 35.2076 22.248 36.1489 23.784L56.1082 54.76L47.1233 54.76L32.1699 29.928C31.8276 29.3733 31.5067 28.7547 31.2072 28.072C30.9077 27.3893 30.6724 26.6427 30.5013 25.832V54.76L13.5583 54.76L25.2387 21.032C26.6078 17.064 28.4476 14.056 30.758 12.008C33.0256 10.0027 35.828 9 39.1653 9Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_i_0_1" x="0.522217" y="0" width="72.1889" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="5" dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_0_1"/>
                </filter>
                <filter id="filter1_d_0_1" x="11.5583" y="9" width="44.5499" height="45.7598" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="-2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
                </filter>
                </defs>
                </svg>
            </a>
        </i>
        <nav>
            <ul>
                <li>
                    <a href="#" class="left" style="font-family: 'Handjet', cursive; font-size: 20px; height: 13px;">Projects</a>
                </li>
                <li>
                    <a href="#" class="left1" style="font-family: 'Handjet', cursive; font-size: 20px; height: 13px;">Events</a>
                </li>
                <li>
                    <a href="#" class="left1" style="font-family: 'Handjet', cursive; font-size: 20px; height: 13px;">Teams</a>
                </li>
            </ul>
        </nav>
        </div>
        <div class="otherrr">
        <nav>
            <ul>
                    @if (valueFromHomeController != "Logged")
                    {
                        <li><a asp-controller="Home" asp-action="Reg" class="men" style="font-family: 'Handjet', cursive; font-size: 20px; height: 13px;">Sign up</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Home" asp-action="AboutMe" class="men" style="font-family: 'Handjet', cursive; font-size: 20px; height: 13px;">Profile</a></li>
                    }
                </ul>
        </nav>
        </div>
    </header>


    <div class="container">
        <form class="form">
          <div class="form_cont">
            <div class="avatar">
            </div>
            <div class="naming">
                <p>Alexey Navalny</p>
            </div>
            <div class="buttons">

            </div>
            <div class="invite">
                <input type="submit" value="Invite">
            </div>
          </div>
          <div class="form_cont">
            <div class="avatar1">

            </div>
            <div class="naming">
                <p>Alexey Navalny</p>
            </div>
            <div class="buttons">

            </div>
            <div class="invite">
                <input type="submit" value="Invite">
            </div>
          </div>
          <div class="form_cont">
            <div class="avatar2">

            </div>
            <div class="naming">
                <p>Alexey Navalny</p>
            </div>
            <div class="buttons">

            </div>
            <div class="invite">
                <input type="submit" value="Invite">
            </div>
          </div>
          <div class="form_cont">
            <div class="avatar3">

            </div>
            <div class="naming">
                <p>Alexey Navalny</p>
            </div>
            <div class="buttons">

            </div>
            <div class="invite">
                <input type="submit" value="Invite" href="#">
            </div>
          </div>
        </form>
      
        <form class="form1">
            <div class="form1_cont">
                <div class="filt">
                    <p>Filter</p>
                </div>
            </div>
        </form>
      </div>
</body>
</html>