<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style/o_sebe.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <form action="#" method="POST" class="main_form">
            <div class="spiski">
                <h2>Tell about you ^_^</h2>
                    <label for="">Team position</label>
                    <div>
                    <select class="s1">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <label for="">Work expirience</label>
                <div>
                    <select class="s2">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <label for="">English level</label>
                <div>
                    <select class="s3">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="buttons">
                <div class="b1">
                    <a href="#">Let's Go!</a>
                </div> 
            </div>
        </form>
    </div>
</body>
</html>