<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/o_sebe.css">
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <form action="#" method="POST" class="main_form">
            <h2>Розкажи трішки про себе</h2>
            <div class="spiski">
                    <label for="">Team position</label>
                    <div>
                    <select class="s1">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <label for="">Work expirience</label>
                <div>
                    <select class="s2">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <label for="">English level</label>
                <div>
                    <select class="s3">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div> 
            </div>
            <div>
                
            </div>
        </form>
    </div>
</body>
</html>