<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reg_form.css">
    <title>Registration</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form action="#" method="POST">
          <div class="form-group">
            <input type="email" id="email" name="email" required placeholder="oralcumshot@mediocrities.com">
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" required placeholder="Password">
          </div>
          <div class="form-group inline">
            <div>
                <input type="text" id="name" name="name" required placeholder="Name">
            </div>
            <div>
                <input class="sname" type="text" id="surname" name="surname" required placeholder="Last name">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Зарегистрироваться" style="font-family: 'Handjet', cursive; font-size: 16px;">
          </div>
          <div class="form-group">
            <a href="auth.html">Вже маєш акаунт?</a>
          </div>
        </form>
      </div>
</body>
</html>