body{
    background-color: #222526;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    
}

.main_form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #313131;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spiski {
    margin-bottom: 15px;
}

label {
    color: #FFFFFF;
    font-family: 'Handjet', cursive;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
/* Spiski */
.s1 {
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.s2 {
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.s3 {
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}